<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title TMDB</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>

        body {
            background-image: url('../../Content/Image/s4.jpg');
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar">heyy</span>
                    <span class="icon-bar"> yo</span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "index", "tmdbApi", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Search movies", "FindMovies", "tmdbApi", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Search Stars", "FindStars", "tmdbApi", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Latest Movies", "FindLatestMovies", "tmdbApi", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Movie Credits", "FindMovieCredits", "tmdbApi", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Get Favorites", "GetFavoriteMovies", "tmdbApi", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
    <br /> <br /> <br /> <br /> <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Fahdah Alsadhan</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
